@import "tailwindcss";

:root {
  --background: #ffeffc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-headerBackground: #f2c7ec;
}

@layer base {
  main {
    @apply max-w-screen-md mx-auto pb-10;
  }
  nav {
    @apply max-w-screen-md mx-auto;
  }
  article {
    @apply max-w-screen-md mx-auto;
  }
  a {
    @apply hover:underline;
  }
}
